#cadastrar-modulo-page {
  display: flex;
  flex-direction: column;
  margin: 20px 20px;
}

#cadastrar-modulo-page h1{
  font-size: 20px;
  font-weight: bold;
  margin: 20px 0;
}

#cadastrar-modulo-page .form-group {
  margin: 20px 0;
}

#cadastrar-modulo-page button {
  float: right;
  padding: 5px 15px;
  transition: transform 0.2s;
}

#cadastrar-modulo-page textarea {
  border-width: 2px;
  resize: none;
}

@media screen and(min-width: 900px) {
  #cadastrar-modulo-page {
    width: 50%;
    margin: 20px auto;
  }
}