#modal button {
    color: black;
    padding: 5px 40px;
    border: none;
    border-radius: 5px;
}

#modal .btn-group {
    float: right;
    margin-top: 10px;
}

#modal .accept {
    background: tomato;
}

#modal .reject {
    background: #cecece;
}