#listar-modulos-aulas-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

#listar-modulos-aulas-page .card-group {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  overflow-y: auto;
}

@media screen and (min-width: 900px) {
  #listar-modulos-aulas-page .card-group {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}