.btn-group {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.btn-group button {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}