#login-page {
  width: 70%;
  height: calc( 100vh - 144px);
  display: flex;
  margin: 0 auto;
  margin-top: 64px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#login-page .login-image {
  width: 100%;
  height: auto;
}

#login-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

#login-page label {
  display: block;
  margin-bottom: 8px;
}

#login-page #login-form button {
  padding: 5px 15px;
  align-self: flex-end;
  color: #fff;
}

@media screen and (min-width: 900px) {
  #login-page {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    width: 100%;
  }

  #login-form {
    width: 30%;
    background-color: #efefef;
    height: 100%;
    padding: 64px;
    justify-content: center;
  }

  #login-page .login-image {
    width: 40%;
    margin: 0 auto;
  }

  #login-page #login-form .form-group label {
    color: black;
  }

  #login-page #login-form button {
    color: black;
  }
}