nav#header {
  position: relative;
  margin: 0 32px;
  margin-top: 32px;

  display: flex;
  justify-content: space-between;

}

#header button {
  width: 48px;
  height: 48px;
  border-radius: 50px !important;
}

#header .btn-group {
  display: flex;
  gap: 4px;
  z-index: 1;
}

header {
  margin: 0 20px;
  margin-top: 20px;
  display: flex;
  gap: 16px;
  font-size: 18px;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
}

a {
  background-color: #80FF72;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
  color: black;
  transition: transform .2s;
}

a:hover {
  transform: scale(1.1);
}