.card {
  width: 286px;
  border-width: 2px;
  border-style: solid;
  border-image: 1 linear-gradient(145deg, #80FF72, #7EE8FA);
  overflow: hidden;
  padding: 8px;
  border-radius: 5px;
}

.card .header-image {
  background-size: cover;
  height: 132px;
  border-radius: 5px 5px 0 0;
}

.card .title {
  margin: 8px 0;
  font-size: 20px;
  font-weight: 700;
}

.card .date {
  margin: 8px 0;
  font-weight: 300;
}

.card .description {
  line-height: 1.2rem;
  height: 200px;
  overflow: hidden;
}
.card .btn-group {
  float: right;
  display: flex;
  flex-direction: row;
  margin-top: 8px;
  gap: 8px;
}

.card .btn-group button {
  width: 32px;
  height: 32px;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.card .btn-group button svg{
  margin: auto auto;
}