.card {
  width: 286px;
  border-width: 2px;
  border-style: solid;
  border-image: 1 linear-gradient(145deg, #80FF72, #7EE8FA);
  overflow: hidden;
  padding: 8px;
  border-radius: 5px;
}

.card .header-image {
  background-size: cover;
  background-position: center center;
  background-clip: border-box;
  background-repeat: no-repeat;
  height: 182px;
  border-radius: 5px 5px 0 0;
}

.card .card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card .card-header .title {
  display: block;
  margin: 8px 0;
  font-size: 20px;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card .card-header .badge {
  padding: 5px 15px;
  background-color: #80FF72;
  border-radius: 5px;
}

.card .date {
  margin: 8px 0;
  font-weight: 300;
}

.card .description {
  line-height: 1.2rem;
  height: 200px;
  overflow: hidden;
}

.card .footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.card .footer .btn-group {
  float: right;
  display: flex;
  flex-direction: row;
  gap: 8px;
}